extends layout

block content
  #container
    h1 DuckDuckGoog
    h2 Set your default browser search!
    h3 Chrome
    p Just by visiting the site, Chrome should have already stored it as a search engine. Just go to Chrome's search engine settings and find duckduckgoog.com in that list, then click "Make Default" next to it.
    h3 Firefox
    p Click the little dropdown arrow in the Firefox search bar, then click "Add DuckDuckGoog Search" to save it. Note that you might have to click it again to make it your default.
    h3 Other Browsers & Launchers 
    p DuckDuckGoog should be easy to add to any browser or launcher (Alfred, GnomeDo, etc.) that supports custom searches. 
    p Just use this search string in your browser/launcher's search engine options to create a custom search: "http://www.duckduckgoog.com?q=SEARCH" (replace SEARCH with whatever your browser/launcher expects the placeholder to be).
    p If you have issues, feel free to 
      a(href="mailto:mikecrittenden@gmail.com") email me.

