extends layout

block content
  #container
    h1 DuckDuckGoog
    h2 Set your default browser search!
    h3 Chrome
    p If you want to make DuckDuckGoog your browser's default search, right click the box below and click "Add As Search Engine".
    form(method='get', action='/')
      input(type='search', name='q', required, value='Right click in here')
      button(type='submit') Search
    p After adding it, open up your browser's search engine settings to make it the default and you should be good to go!
    h3 Firefox
    p Click the little dropdown arrow in the Firefox search bar, then click "Add DuckDuckGoog Search", and it will remember that as your default.
    h3 Other Browsers
    p Just use this search string in your browser's search engine options to create a custom search: "http://www.duckduckgoog.com?q=SEARCH" (replace SEARCH with whatever your browser expects the search token placeholder to be).
    p If you have issues, feel free to 
      a(href="mailto:mikecrittenden@gmail.com") email me.

