extends layout

block content
  #container
    h1 DuckDuckGoog
    form(method='get', action='')
      input(type='text', name='q', required, value=query, placeholder='Whatcha looking for?')
      button(type='submit') Search
