doctype html
html
  head
    title DuckDuckGoog
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Belgrano')
    link(rel='search', type='application/opensearchdescription+xml', href='/opensearch.xml', title='DuckDuckGoog Without Suggestions')
    link(rel='search', type='application/opensearchdescription+xml', href='/opensearchsuggest.xml', title='DuckDuckGoog With Suggestions')
    meta(name='description', content='DuckDuckGoog lets you use DuckDuckGo for bang queries and Google for everything else, so you get the best of both worlds.')
    script.
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-6322775-20']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    script.
      function focusSearch() {
        if (document.getElementById("search-input")) {
          document.getElementById("search-input").focus();
        }
      }
  body(onload='focusSearch()')
    block content
