extends layout

block content
  #container
    h1 DuckDuckGoog
    h2 Privacy Policy
    p It's quite simple. DuckDuckGoog doesn't track any queries submitted whatsoever, It simply redirects you to DuckDuckGo or Google depending on whether your search contains a !bang or not. 
    p The source code for this is available 
      a(href='https://github.com/mikecrittenden/duckduckgoog/blob/master/app.js#L22') here on GitHub
      |  so you're free to take a look or even host your own version if you'd like.
    p If you have any questions, feel free to 
      a(href="mailto:mikecrittenden@gmail.com") email me.
